td,table,tr,th{
	border: 3px solid;
	padding: 15px;
	text-align: center;
	font-size: larger;
	color:black;
	background-color: rgb(226, 238, 248);
	border-collapse: collapse;
}
table{
	margin-top: 5%;
	margin-left: 20%;
	position: relative;
}
.a{
	background-color:  rgb(248, 226, 228);
	font-size: xx-large;
	width: 20%;
	position:absolute;
	margin-left: 62.3%;
	padding:3%;
	border: 3px solid;
}
input[type="submit"]{
	width: 100%;
	background-color: yellow;
	font-size: xx-large;
	font-weight: bolder;
}
input[type="submit"]:hover{
	cursor:pointer;
	background-color: rgb(255, 126, 126);
}
header{
    background-color: rgb(255, 148, 230);
    height: 100px;
}
.g,.ga{
    width: 3%;
}
.ga{
    margin-left: 75%;
}
.g{
    margin-left: 1%;
}
.z{
    width: 10%;
    margin-top: 1.5%;
    margin-left: 1.5%;
}
html{
    position:relative; 
    min-height: 100%;
}
html,body,header{
    margin:0;
    padding:0;
}
.error{
	font-size: xx-large;
	color: rgb(255, 0, 0);
}
.x{
	background-color: aqua;
}
.q{
	margin-left: 27%;
}
.all_orders{
	font-size: 400%;
	background-color: white;
	text-align: center;
	padding: 1%;
}